In [1]:
##now importing basic Libraries
import selenium
from selenium import webdriver
from selenium.webdriver import Chrome
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException as No
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

### Scrape the details of most viewed videos on YouTube from Wikipedia.
### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [2]:
### Iniliazing the chrome
driver = webdriver.Chrome(r'E:\Download backup\chromedriver_win32\chromedriver.exe')

In [7]:
## entering the website to the browser
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [29]:
rank = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]")
vname = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]")
aname=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")
udate= driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")
view = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]")

In [30]:
top_video=[]
for i in range(len(rank)):
    data ={'Rank':rank[i].text,
          'Video Name':vname[i].text,
          'Artist Name':aname[i].text,
          'Upload Date':udate[i].text,
          'Views on video':view[i].text,}
    top_video.append(data)
df= pd.DataFrame(top_video)
df

,Rank,Video Name,Artist Name,Upload Date,Views on video
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,9.96,"June 17, 2016"
1,2.,"""Despacito""[5]",Luis Fonsi,7.69,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,6.08,"October 8, 2016"
3,4.,"""Shape of You""[12]",Ed Sheeran,5.58,"January 30, 2017"
4,5.,"""See You Again""[14]",Wiz Khalifa,5.38,"April 6, 2015"
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,4.83,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,4.55,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,4.48,"January 31, 2012"
8,9.,"""Uptown Funk""[22]",Mark Ronson,4.42,"November 19, 2014"
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,4.39,"March 6, 2014"
10,11.,"""Gangnam Style""[24]",Psy,4.30,"July 15, 2012"
11,12.,"""Dame Tu Cosita""[29]",El Chombo,3.79,"April 5, 2018"
12,13.,"""Sugar""[30]",Maroon 5,3.62,"January 14, 2015"
13,14.,"""Sorry""[31]",Justin Bieber,3.50,"October 22, 2015"
14,15.,"""Roar""[32]",Katy Perry,3.50,"September 5, 2013"
15,16.,"""Counting Stars""[33]",OneRepublic,3.48,"May 31, 2013"
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,3.47,"May 24, 2018"
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,3.39,"October 7, 2014"
18,19.,"""Girls Like You""[36]",Maroon 5,3.21,"May 31, 2018"
19,20.,"""Faded""[37]",Alan Walker,3.21,"December 3, 2015"
20,21.,"""Dark Horse""[38]",Katy Perry,3.20,"February 20, 2014"
21,22.,"""Axel F""[39]",Crazy Frog,3.16,"June 16, 2009"
22,23.,"""Let Her Go""[40]",Passenger,3.15,"July 25, 2012"
23,24.,"""Bailando""[41]",Enrique Iglesias,3.15,"April 11, 2014"
24,25.,"""Lean On""[42]",Major Lazer,3.15,"March 22, 2015"
25,26.,"""Shake It Off""[43]",Taylor Swift,3.13,"August 18, 2014"
26,27.,"""Perfect""[44]",Ed Sheeran,3.06,"November 9, 2017"
27,28.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,3.05,"June 25, 2018"
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.02,"June 4, 2010"
29,30.,"""Mi Gente""[47]",J Balvin,3.02,"June 29, 2017"
30,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,037,500,000","June 17, 2016","November 2, 2020"
31,"""Despacito""[5]",Luis Fonsi,"2,993,700,000","January 12, 2017","August 4, 2017"
32,"""See You Again""[14]",Wiz Khalifa,"2,894,000,000","April 6, 2015","July 10, 2017"
33,"""Gangnam Style""⁂[24]",Psy,"803,700,000","July 15, 2012","November 24, 2012"
34,"""Baby""*[58]",Justin Bieber,"245,400,000","February 19, 2010","July 16, 2010"
35,"""Bad Romance""[62]",Lady Gaga,"178,400,000","November 24, 2009","April 14, 2010"
36,"""Charlie Bit My Finger""‡[66]",HDCYT,"128,900,000","May 22, 2007","October 25, 2009"
37,"""Evolution of Dance""[68]",Judson Laipply,"118,900,000","April 6, 2006","May 2, 2009"
38,"""Girlfriend""‡[70][71]",RCA Records,"92,600,000","February 27, 2007","July 17, 2008"
39,"""Evolution of Dance""[68]",Judson Laipply,"78,400,000","April 6, 2006","March 15, 2008"
40,"""Music Is My Hot Hot Sex""‡[74]",CLARUSBARTEL72,"76,600,000","April 9, 2007","March 1, 2008"
41,"""Evolution of Dance""*[68]",Judson Laipply,"10,600,000","April 6, 2006","May 19, 2006"
42,"""Pokemon Theme Music Video""‡[79]",Smosh,"4,300,000","November 28, 2005","March 12, 2006"
43,"""Myspace – The Movie""‡[83][84]",eggtea,"2,700,000","January 31, 2006","February 18, 2006"
44,"""Phony Photo Booth""‡[86]",mugenized,"3,400,000","December 1, 2005","January 21, 2006"
45,"""The Chronic of Narnia Rap""‡[88]",youtubedude,"2,300,000","December 18, 2005","January 9, 2006"
46,"""Ronaldinho: Touch of Gold""‡*[90]",Nikesoccer,"255,000","October 21, 2005","October 31, 2005"
47,"""I/O Brush""‡*[93]",larfus,"247,000","October 5, 2005","October 29, 2005"
48,"""Me at the zoo""[95]",jawed,1,"April 23, 2005","April 23, 2005"

###  Scrape the details team India’s international fixtures from bcci.tv.
### Url = https://www.bcci.tv/.

In [3]:
## entering the website to the browser
driver.get("https://www.bcci.tv/")

In [7]:
#driver.find_element_by_xpath("//ul[@class='foot-list mb-5']//li[2]/a").click()
#time.sleep(10)
driver.find_element_by_xpath("//div[@class='col-lg-3 col-md-3 col-sm-12'][3]").click()
time.sleep(5)
driver.find_element_by_xpath("//input[@ng-model='cSBTeamsListSearch']").send_keys("India")
#driver.find_element_by_xpath("//div[@class='cSBListItems ng-binding ng-scope']").click()

In [8]:
for i in range(1,3):
    driver.find_element_by_xpath("//button[@class='match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3']").click()
    i+=1

In [45]:
title =[]
date=[]
time=[]
place=[]
series =[]
for i in driver.find_elements_by_xpath("//h5[@class='fix-text']/span"):
    title.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']/h5"):
    date.append(i.text)
for i in driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']"):
    time.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']/span"):
    place.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']"):
    series.append(i.text)

In [49]:
b=[]
for i in range(1,20):
    a=series[i][0:7]
    b.append(a) 
#title=title[1:40:2]
b.insert(20,'ODI SERIES')
df=pd.DataFrame({'Match Title':title,'Series':b,'Place':place,'Date':date,'Time':time})
#print(len(title),len(b),len(place),len(date),len(time))
df

,Match Title,Series,Place,Date,Time
0,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,1st ODI,"Newlands,",11 JAN 2022,3:30 AM EST
1,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,2nd ODI,"Boland Park,",19 JAN 2022,3:30 AM EST
2,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,3rd ODI,"Boland Park,",21 JAN 2022,3:30 AM EST
3,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,1st ODI,"Newlands,",23 JAN 2022,3:30 AM EST
4,WEST INDIES TOUR OF INDIA ODI SERIES 2022,2nd ODI,"NARENDRA MODI STADIUM,",5 FEB 2022,11:00 PM EST
5,WEST INDIES TOUR OF INDIA ODI SERIES 2022,3rd ODI,"Sawai Mansingh Stadium,",8 FEB 2022,11:00 PM EST
6,WEST INDIES TOUR OF INDIA ODI SERIES 2022,1st T20,"Eden Gardens,",11 FEB 2022,11:00 PM EST
7,WEST INDIES TOUR OF INDIA T20 SERIES 2022,2nd T20,"Barabati Stadium,",15 FEB 2022,9:00 AM EST
8,WEST INDIES TOUR OF INDIA T20 SERIES 2022,3rd T20,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",18 FEB 2022,9:00 AM EST
9,WEST INDIES TOUR OF INDIA T20 SERIES 2022,1st Tes,"Greenfield International Stadium,",20 FEB 2022,9:00 AM EST
10,SRI LANKA TOUR OF INDIA TEST SERIES 2022,2nd Tes,"M Chinnaswamy Stadium,",24 FEB 2022,11:00 PM EST
11,SRI LANKA TOUR OF INDIA TEST SERIES 2022,1st T20,"Punjab Cricket Association IS Bindra Stadium,",4 MAR 2022,11:00 PM EST
12,SRI LANKA TOUR OF INDIA T20 SERIES 2022,2nd T20,"Punjab Cricket Association IS Bindra Stadium,",13 MAR 2022,9:00 AM EST
13,SRI LANKA TOUR OF INDIA T20 SERIES 2022,3rd T20,"Himachal Pradesh Cricket Association Stadium,",15 MAR 2022,9:00 AM EST
14,SRI LANKA TOUR OF INDIA T20 SERIES 2022,1st T20,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,18 MAR 2022,9:00 AM EST
15,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,2nd T20,"MA Chidambaram Stadium,",9 JUN 2022,9:00 AM EST
16,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,3rd T20,"M Chinnaswamy Stadium,",12 JUN 2022,9:00 AM EST
17,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,4th T20,"Vidarbha Cricket Association Stadium,",14 JUN 2022,9:00 AM EST
18,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,5th T20,"Saurashtra Cricket Association Stadium,",17 JUN 2022,9:00 AM EST
19,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,ODI SERIES,"Arun Jaitley Stadium,",19 JUN 2022,9:00 AM EST

### Scrape the details of selenium exception from guru99.com.
### Url = https://www.guru99.com/

In [137]:
## entering the website to the browser
driver.get("https://www.guru99.com/")

In [139]:
title =[]
desc=[]
try:
    for i in range(1,7): 

        driver.find_element_by_xpath("//*[@id='java_technologies']/li"+str([i])).click()
        time.sleep(2)
        nam= driver.find_element_by_xpath("//h1[@class='entry-title']").text
        title.append(nam)
        des =driver.find_element_by_tag_name("p").text
        desc.append(des)
        driver.back()
        time.sleep(2)
except No: 
    pass
try:
    for i in range(7,100): 

        driver.find_element_by_xpath("//*[@id='java_technologies']/li"+str([i])).click()
        time.sleep(2)
        nam= driver.find_element_by_xpath("//h1[@class='entry-title']").text
        title.append(nam)
        des =driver.find_element_by_tag_name("p").text
        desc.append(des)
        driver.back()
        time.sleep(2)
except No: 
    pass

In [140]:
df=pd.DataFrame({'Title':title, 'Description':desc})
df

,Title,Description
0,Software Testing Tutorial: Free QA Course,"In this course, you will learn basic skills an..."
1,UFT/QTP Tutorial for Beginners: Learn in 7 Days,"In this course, you will learn test automation..."
2,Selenium Tutorial for Beginners: Learn WebDriv...,Selenium is a popular open-source web-based au...
3,Free Mobile App Testing Tutorial,Android & iOS are the most popular mobile OS. ...
4,Cucumber Testing Tutorials for Beginners,Behavior Driven Development (BDD) is a rising ...
5,SoapUI Tutorials for Beginners,SoapUI is the market leader in API Testing Too...
6,Agile Tutorial | Agile Methodology Tutorial fo...,Agile is a coding practice that follows the ru...
7,JUnit Tutorial for Beginners: Learn in 3 Days,JUnit is an open source Unit Testing Framework...
8,RPA Tutorial: What is Robotic Process Automati...,RPA (Robotics Process Automation) which allows...
9,Free Software Testing Live Project: Insurance ...,"The BFSI (Banking, Financial services and Insu..."
10,Live Payment Gateway Testing Project: Join FREE,You will be testing a demo Payment Gateway app...
11,Live Telecom Testing Project: Join Free,You will be testing a demo Telecom application...
12,Live Java Project: Online Coding Practice,This project will put you in a corporate devel...
13,Live Python Project: Data Analysis Project,This project will put you in a corporate devel...
14,"SAP Crystal Reports Tutorial: What is, Benefit...",SAP Crystal Reports is a BI tool for generatin...
15,SAP PI/PO Tutorial: What is Process Integratio...,SAP PI (Process Integration) is an enterprise ...
16,SAPUI5 Tutorial for Beginners: What is Fiori w...,SAPUI5 is a set of libraries to build responsi...
17,"SAP Security Tutorial for Beginners: What is, ...","In this SAP Security tutorial for beginners, w..."
18,SAP BPC Tutorial: What is Business Planning an...,SAP BPC is a SAP module that provides planning...
19,"SAP BODS Tutorial for Beginners: What is, Arch...","Before we learn SAP BODS overview, let’s under..."
20,Scala Tutorial: Scala Programming Language Exa...,This scala tutorial covers all the aspects and...
21,UML Diagram Tutorial for Beginners: Learn UML ...,This Online UML Course is a step by step guide...
22,WPF Tutorial for Beginners: How to Create Appl...,WPF is a framework for building Windows applic...
23,DAA Tutorial: Design and Analysis of Algorithms,This Design and Analysis of Algorithms Tutoria...
24,"Salesforce Tutorial: What is, Introduction and...","Before we start learning Salesforce tutorial, ..."
25,25+ BEST eCommerce Platforms | Free & Paid (Ja...,An eCommerce platform is a software applicatio...
26,20 BEST Website Monitoring Tools Open source (...,Website monitoring tools/services help maintai...
27,10 BEST IP Blocker Apps: How to Hide IP Addres...,An Internet Protocol address is also known as ...
28,10 Best FREE Video Hosting Sites in 2022,Video Hosting Sites are platforms that help yo...
29,6 Best VPN for iPhone | Tested & Working in Ja...,iPhones have good built-in security to protect...

### Scrape the details of State-wise GDP of India from statisticstime.com.
### Url = http://statisticstimes.com/

In [141]:
driver = webdriver.Chrome(r'E:\Download backup\chromedriver_win32\chromedriver.exe') 
time.sleep(2)
driver.get("https://www.statisticstimes.com/")

In [145]:
driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button").click()

In [146]:
driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]").click()

In [147]:
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [153]:
rank = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[1]")
state = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]")
GSDP_19=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
GSDP_18=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
share=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
GDP = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]")
GSDP1_19=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[7]")
GSDP1_18=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[8]")

In [155]:
stats=[]
for i in range(len(rank)):
    data ={'Rank':rank[i].text,
          'State':state[i].text,
          'GSDP_19':GSDP_19[i].text,
          'GSDP_18':GSDP_18[i].text,
          'GSDP1_19':GSDP1_19[i].text,
          'GSDP1_18':GSDP1_18[i].text,
           'Share':share[i].text,
          'GDP':GDP[i].text}
    stats.append(data)
df= pd.DataFrame(stats)
df

,Rank,State,GSDP_19,GSDP_18,GSDP1_19,GSDP1_18,Share,GDP
0,1,Maharashtra,-,"2,632,792",-,"2,039,074",13.94%,399.921
1,1,Maharashtra,-,"2,632,792",-,"2,039,074",13.94%,399.921
2,2,Tamil Nadu,"1,845,853","1,630,208","1,312,929","1,215,307",8.63%,247.629
3,3,Uttar Pradesh,"1,687,818","1,584,764","1,166,817","1,123,982",8.39%,240.726
4,4,Gujarat,-,"1,502,899",-,"1,186,379",7.96%,228.290
5,5,Karnataka,"1,631,977","1,493,127","1,156,039","1,091,077",7.91%,226.806
6,6,West Bengal,"1,253,832","1,089,898","793,223","739,525",5.77%,165.556
7,7,Rajasthan,"1,020,989","942,586","711,627","677,428",4.99%,143.179
8,8,Andhra Pradesh,"972,782","862,957","672,018","621,301",4.57%,131.083
9,9,Telangana,"969,604","861,031","663,258","612,828",4.56%,130.791
10,10,Madhya Pradesh,"906,672","809,592","561,801","522,009",4.29%,122.977
11,11,Kerala,-,"781,653",-,"559,412",4.14%,118.733
12,12,Delhi,"856,112","774,870","634,408","590,569",4.10%,117.703
13,13,Haryana,"831,610","734,163","572,240","531,085",3.89%,111.519
14,14,Bihar,"611,804","530,363","414,977","375,651",2.81%,80.562
15,15,Punjab,"574,760","526,376","418,868","397,669",2.79%,79.957
16,16,Odisha,"521,275","487,805","396,499","376,877",2.58%,74.098
17,17,Assam,-,"315,881",-,"234,048",1.67%,47.982
18,18,Chhattisgarh,"329,180","304,063","243,477","231,182",1.61%,46.187
19,19,Jharkhand,"328,598","297,204","240,036","224,986",1.57%,45.145
20,20,Uttarakhand,-,"245,895",-,"193,273",1.30%,37.351
21,21,Jammu & Kashmir,-,"155,956",-,"112,755",0.83%,23.690
22,22,Himachal Pradesh,"165,472","153,845","124,403","117,851",0.81%,23.369
23,23,Goa,"80,449","73,170","63,408","57,787",0.39%,11.115
24,24,Tripura,"55,984","49,845","40,583","36,963",0.26%,7.571
25,25,Chandigarh,-,"42,114",-,"31,192",0.22%,6.397
26,26,Puducherry,"38,253","34,433","25,093","23,013",0.18%,5.230
27,27,Meghalaya,"36,572","33,481","26,695","24,682",0.18%,5.086
28,28,Sikkim,"32,496","28,723","20,017","18,722",0.15%,4.363
29,29,Manipur,"31,790","27,870","20,673","19,300",0.15%,4.233
30,30,Nagaland,-,"27,283",-,"17,647",0.14%,4.144
31,31,Arunachal Pradesh,-,"24,603",-,"16,676",0.13%,3.737
32,32,Mizoram,"26,503","22,287","18,797","16,478",0.12%,3.385
33,33,Andaman & Nicobar Islands,-,-,-,-,-,-

### Scrape the details of trending repositories on Github.com.
#### Url = https://github.com/

In [161]:
driver = webdriver.Chrome(r'E:\Download backup\chromedriver_win32\chromedriver.exe') 
time.sleep(2)
driver.get("https://github.com/")

In [162]:
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/button").click()
time.sleep(1)
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]").click()
time.sleep(1)
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[1]/a").click()

In [199]:
title =[]
desc =[]
count=[]
lang=[]
for i in driver.find_elements_by_xpath("//div[@class='px-3']/div/div/h3"):
    count.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='px-3 pt-3']"):
    title.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='Box-body comment-body markdown-body position-relative overflow-hidden pt-3']"):
    desc.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='d-flex flex-wrap border-bottom color-border-muted px-3 pt-2 pb-2']"):
    lang.append(i.text.split("\n"))
print(len(title),len(desc),len(count),len(lang))

17 6 25 12

### Scrape the details of top 100 songs on billiboard.com.
### Url = https:/www.billboard.com/

In [220]:
driver = webdriver.Chrome(r'E:\Download backup\chromedriver_win32\chromedriver.exe') 
time.sleep(2)
driver.get("https:/www.billboard.com/")

In [229]:
driver.find_element_by_xpath("//*[@id='main-wrapper']/header/div[1]/div/div/div[1]/button").click()
driver.find_element_by_xpath("//*[@id='mega-menu-item-charts']/button").click()
driver.find_element_by_xpath("//*[@id='main-wrapper']/div[6]/div/div/div/ul/li[1]/ul/li[1]/a").click()

In [257]:
pos =[]
for i in driver.find_elements_by_xpath("//div[@class='o-chart-results-list-row-container']"):
    pos.append(i.text.splitlines())
Song_name=[]
Artist_name=[]
Last_week=[]
Peak_rank=[]
Weeks_board=[]

In [266]:
for i in range(0,100):
    a=pos[i][1]
    Song_name.append(a) 
    b=pos[i][2]
    Artist_name.append(b) 
    c=pos[i][3]
    Last_week.append(c) 
    d=pos[i][4]
    Peak_rank.append(d) 
    e=pos[i][5]
    Weeks_board.append(e) 
    
df=pd.DataFrame({'Song_name':Song_name,'Artist_name':Artist_name,'Last_week':Last_week,'Peak_rank':Peak_rank,'Weeks_board':Weeks_board})
df

,Song_name,Artist_name,Last_week,Peak_rank,Weeks_board
0,All I Want For Christmas Is You,Mariah Carey,1,1,51
1,Easy On Me,Adele,5,1,12
2,Rockin' Around The Christmas Tree,Brenda Lee,2,2,45
3,Jingle Bell Rock,Bobby Helms,3,3,42
4,A Holly Jolly Christmas,Burl Ives,4,4,26
...,...,...,...,...,...
294,NEW,Beers On Me,"Dierks Bentley, Breland & HARDY",-,96
295,Already Dead,Juice WRLD,88,20,6
296,No Love,Summer Walker & SZA,98,13,8
297,NEW,23,Sam Hunt,-,99
298,Family Ties,Baby Keem & Kendrick Lamar,100,18,18

### Scrape the details of Highest selling novels.
### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

In [7]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [17]:
book_Name= driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr/td[2]")
auth_Name= driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr/td[3]")
sold= driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr/td[4]")
pub= driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr/td[5]")
gen= driver.find_elements_by_xpath("//*[@id='article-body-blocks']/div/table/tbody/tr/td[6]")

In [18]:
book=[]
for i in range(len(book_Name)):
    data ={'Book Name':book_Name[i].text,
          'Author Name':auth_Name[i].text,
          'Volume Sold':sold[i].text,
          'Publisher':pub[i].text,
          'Genre':gen[i].text}
    book.append(data)
df= pd.DataFrame(book)
df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Scrape the details most watched tv series of all time from imdb.com.
### Url = https://www.imdb.com/list/ls095964455

In [19]:
driver.get("https://www.imdb.com/list/ls095964455")

In [85]:
name =[]
Year=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]
for i in range(1,101):
    for j in driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div"+str([i])+"/div[2]/h3/a"):
        name.append(j.text)
    for j in driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div"+str([i])+"/div[2]/h3/span[2]"):
        Year.append(j.text)
    for j in driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div"+str([i])+"/div[2]/p[1]/span[5]"):
        Genre.append(j.text)
    for j in driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div"+str([i])+"/div[2]/p[1]/span[3]"):
        Run_time.append(j.text)
    for j in driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div"+str([i])+"/div[2]/div[1]/div[1]/span[2]"):
        Ratings.append(j.text)
    for j in driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div"+str([i])+"/div[2]/p[4]/span[2]"):
        Votes.append(j.text)
df=pd.DataFrame({"Name":name,"Year Span":Year,"Genre":Genre,"Run Time":Run_time,"Ratings":Ratings,"Votes":Votes})
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,929,536"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"950,841"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"921,837"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"276,177"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,437"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,159"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,954"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"182,937"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,260"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"217,849"

### Details of Datasets from UCI machine learning repositories.
### Url = https://archive.ics.uci.edu/

In [23]:
driver = webdriver.Chrome(r'E:\Download backup\chromedriver_win32\chromedriver.exe') 
driver.get("https://archive.ics.uci.edu/")

In [24]:
driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a").click()

In [25]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
instances=[]
attribute=[]
year=[]
for i in range(2,623):
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr"+str([i])+"/td[1]/table/tbody/tr/td[2]"):
        Dataset_name.append(i.text)

In [26]:
for i in range(2,623):
    for j in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr"+str([i])+"/td[2]/p"):
        Data_type.append(j.text)
    for j in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr"+str([i])+"/td[3]/p"):
        Task.append(j.text)
    for j in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr"+str([i])+"/td[4]/p"):
        Attribute_type.append(j.text)
    for j in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr"+str([i])+"/td[5]/p"):
        instances.append(j.text)
    for j in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr"+str([i])+"/td[6]/p"):
        attribute.append(j.text)
    for j in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr"+str([i])+"/td[7]/p"):
        year.append(j.text)
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(instances),len(attribute),len(year))

621 621 621 621 621 621 621

In [27]:
df=pd.DataFrame({"Dataset Name":Dataset_name, "Data Type": Data_type, "Task":Task,"Attribute_type":Attribute_type,"Instances":instances, "Attribute":attribute, "Year":year})
df

,Dataset Name,Data Type,Task,Attribute_type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
616,Steel Industry Energy Consumption Dataset,Multivariate,Regression,Integer,35040,11,2020
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021